body {
    font-family: Arial;
    padding: 20px;
    background: #f4f4f4;
}

table {
    background: white;
    border-collapse: collapse;
    width: 100%;
}

input, button {
    padding: 8px;
    margin: 5px;
}

button {
    cursor: pointer;
}